#This is my git ignore file for Unity Projects
#Note that ! negates an ignore. I ignore everything in Library then
#un-ignore the metadata folder and some specific files
 

#NOTE: this will cause any collaborators to re-import assets periodically
[Tt]emp/
[Ll]ibrary/

#Un-ignore these specific files - not currently using
#!Library/*.asset
#!Library/AssetImportState
#!Library/AssetVersioning.db
#!Library/BuildPlayer.prefs
#!Library/ScriptMapper
#!Library/assetservercachev3
#!Library/expandedItems
#!Library/guidmapper
#!Library/unity default resources
#!Library/unity editor resources
#!Library/metadata/

#Added these per http://stackoverflow.com/questions/18225126/how-to-use-git-for-unity3d-source-control
*.csproj
*.unityproj
*.sln 

#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb

#I'm going to keep userprefs for now in git to see if it helps sync my MonoDevelop Debugger options
#*.userprefs
*.orig
.DS_Store

#I need the code files (.dll, .mdb) in CodeLibrary in the
#repository. Without them, all manual drag and drop links to GameObjects are
#lost because the code files aren't there. Interestingly, the links are 
#retained when the files are cleaned and rebuilt during a BuildServer build.
# Not used
#Assets/[Cc]ode[Ll]ibrary/
#Assets/[Cc]ode[Ll]ibrary/fr-FR/
#Assets/[Cc]ode[Ll]ibrary/en-CA/
